/* Color Theme Swatches in Hex */
.color-theme_guitar-1-hex { color: #011826; }
.color-theme_guitar-2-hex { color: #023440; }
.color-theme_guitar-3-hex { color: #035159; }
.color-theme_guitar-4-hex { color: #F2CDA0; }
.color-theme_guitar-5-hex { color: #D9B18F; }

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color:#023440;
    margin: 0;
}

h1{
    font-size: 70px;
}

img{
    width: 100%;
    margin-bottom: -5px;
}

p{
    margin: 0;
}

a{
    color: #035159;
}

div{
    margin: 0;
}

table{
    color: white;
    width: 100%;
    border-collapse: collapse;
}

td,tr{
    border: none;
}

.page{
    padding-top: 178px;
    padding-bottom: 180px;
}

.header{
    font-family:'Dancing Script', cursive;
    color: black;
    top: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    text-align: center;
}

.section{
    padding: 0;
}

.content{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.stats-and-title{
    background-color: white;
    text-align: left;
    padding: 20px;
    border-bottom: dashed;
    border-width: 1px;
    border-color: lightgray;
}

.article-title-container{
    margin-top: 20px;
    font-size: 40px;
}

.date-and-likes{
    font-size: 15px;
}

.read-and-plus{
    height: 10vw;
    background-color: white;
}

.read-more{
    height: 10vw;
    line-height: 10vw;
    float: left;
    background-color: white;
    padding: 0 20px;
}

.plus{
    font-size: 5vw;
    height: 10vw;
    width: 10vw;
    line-height: 10vw;
    color: white;
    background-color: #035159;
    float: right;
}

.calendar tr:nth-child(even){
    background-color: #025a64;
}

.calendar-container{
    background: #035159;
}

.date{
    font-size: 25px;
    padding: 10px;
    width: 20%;
}

.calendar-text{
    text-align: left;
    font-size: 15px;
    padding: 10px;
    width: 80%;
}

.footer-and-links{
    background-color: #011826;
    color: white;
    padding: 20px;
}