html,body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page{
    position: relative;
    min-height: 100vh;
}

.header{
    background-color: indianred;
    text-align: center;
    padding: 10px 25px;
    font-size: 20px;
}

.section{
    font-size: 12px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

.buttoncontainer{
    text-align: center;
    padding: 30px;
}

.button{
    border: none;
}

.footer{
    background-color:lightgray;
    text-align: center;
    position: absolute;
    font-size: 10px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    padding: 10px 10px;
}